---

---

<section class="portfolio">
    <article class="portfolio__content-wrapper">
        <h1 class="portfolio__title">
            Projects, sites and web-applications
        </h1>
        <div class="portfolio__portfolio-content">
            <div class="portfolio__project">
                <button class="portfolio__toggle" aria-expanded="false">mraktattoo</button>
                <div class="portfolio__details">Private</div>
            </div>
            <div class="portfolio__project">
                <button class="portfolio__toggle" aria-expanded="false">mraktattoo-backend</button>
                <div class="portfolio__details">Private</div>
            </div>
            <div class="portfolio__project">
                <button class="portfolio__toggle" aria-expanded="false">BotHubBack</button>
                <div class="portfolio__details">Public</div>
            </div>
            <div class="portfolio__project">
                <button class="portfolio__toggle" aria-expanded="false">Cadex</button>
                <div class="portfolio__details">Public - Testing for vacancy</div>
            </div>
            <div class="portfolio__project">
                <button class="portfolio__toggle" aria-expanded="false">todo</button>
                <div class="portfolio__details">Public</div>
            </div>
            <div class="portfolio__project">
                <button class="portfolio__toggle" aria-expanded="false">Chatalot</button>
                <div class="portfolio__details">Public - Testing for H vacancy</div>
            </div>
            <div class="portfolio__project">
                <button class="portfolio__toggle" aria-expanded="false">Chatalot---testing</button>
                <div class="portfolio__details">Public</div>
            </div>
            <div class="portfolio__project">
                <button class="portfolio__toggle" aria-expanded="false">BotHubLanding</button>
                <div class="portfolio__details">Public</div>
            </div>
            <div class="portfolio__project">
                <button class="portfolio__toggle" aria-expanded="false">aegirine-back</button>
                <div class="portfolio__details">Public</div>
            </div>
            <div class="portfolio__project">
                <button class="portfolio__toggle" aria-expanded="false">aegirine-front</button>
                <div class="portfolio__details">Public</div>
            </div>
            <div class="portfolio__project">
                <button class="portfolio__toggle" aria-expanded="false">SuchaNotepad</button>
                <div class="portfolio__details">Public - Making a NotePad on React Native</div>
            </div>
            <div class="portfolio__project">
                <button class="portfolio__toggle" aria-expanded="false">Ametrine</button>
                <div class="portfolio__details">Private</div>
            </div>
            <div class="portfolio__project">
                <button class="portfolio__toggle" aria-expanded="false">RickAndMortyAPI</button>
                <div class="portfolio__details">Public - Тестовое задание</div>
            </div>
            <div class="portfolio__project">
                <button class="portfolio__toggle" aria-expanded="false">Olivine</button>
                <div class="portfolio__details">Private - ChatGPT chatbot</div>
            </div>
            <div class="portfolio__project">
                <button class="portfolio__toggle" aria-expanded="false">Loans</button>
                <div class="portfolio__details">Public - Demonstration project</div>
            </div>
            <div class="portfolio__project">
                <button class="portfolio__toggle" aria-expanded="false">pythonProject</button>
                <div class="portfolio__details">Public - Курсовая работа, создание чата в локальной сети с графическим интерфейсом</div>
            </div>
            <div class="portfolio__project">
                <button class="portfolio__toggle" aria-expanded="false">projectBCF</button>
                <div class="portfolio__details">Public - Business Card, First project</div>
            </div>
        </div>
    </article>
</section>
