.landing {
    @include full-parent();
    @include no-padding();
    @include primary-color-scheme();
    position: relative;

    /**Experimental**/
    overflow: hidden;
    height: auto;
    min-height: 100vh;

    .intro {
        @include flexbox(column);
        width: 100vw;
        height: 100vh;
        z-index: 2;

        .scroll-button {
            @include flexbox(column);
            @include no-def-styles();
            @include scroll-button();
        }

        &__title {
            @include text-header(9rem, left, 600);
            @include no-padding();
            transform: translateY(-10vh);
        }

        &__subtitle {
            @include text-header(3rem, left, 500);
            @include no-padding();
            transform: translateY(-7.5vh);

            code {
                font-size: 3rem;
                padding: 3px 9px;
                border-radius: 12px;
                background-color: #424242d3;
                color: #e9e2e2;
                cursor: pointer;
                user-select: none;
                box-sizing: border-box;
                transition: all 1s ease;

                &:hover {
                    background-color: #424242ec;
                }
            }
        }

        &__background {
            @include absolute-fw();
            z-index: 999;
            top: 0;
            left: 0px;
        }

        .cuboid-large-theme {
            @include absolute-fw();
            z-index: 0;
            width: 50%;
            height: 100%;
            top: 0;
            left: 0px;

            &.rotated {
                transform: rotate(180deg);
                top: 0%;
                left: 50%;
            }
        }
    }
}