---
import IntroBackgroundTheme from "@/components/intro-large-theme";
import ScrollButton from "@/components/ScrollButton";
---

<section class="intro">
    <IntroBackgroundTheme client:load/>
    <ScrollButton target=".profile" client:load>
        EXPLORE
    </ScrollButton>
</section>



