.landing {
    @include full-parent();
    @include no-padding();
    @include primary-color-scheme();

    /**Experimental**/
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 100vh;

    .intro {
        @include flexbox(column);
        height: 100vh;
        z-index: 2;

        &__title {
            @include text-header(10rem, center, 600);
            @include no-padding();
            transform: translateY(-10vh);
        }

        &__subtitle {
            @include text-header(2.5rem, center, 500);
            @include no-padding();
            transform: translateY(-10vh);

            code {
                font-size: 2rem;
                padding: 3px 9px;
                border-radius: 12px;
                background-color: #424242d3;
                color: #e9e2e2;
                cursor: pointer;
                user-select: none;
                transition: all 1s ease;

                &:hover {
                    background-color: #424242ec;
                }
            }
        }
        
        .cuboid-large-theme {
            @include absolute-fw();
            z-index: 0;
            width: 50%;
            height: 100%;
            top: 0;
            left: 0px;

            &.rotated {
                transform: rotate(180deg);
                top: 0%;
                left: 50%;
            }
        }
    }

    .testcontent {
        width: 100%;
        height: 75vh;

        img {
            width: 100%;
            height: 75vh;
            object-fit: cover;
        }
    }

    .profile {
        @include flexbox(row);
        align-items: flex-start;
        width: 100%;
        height: 100vh;
        gap: 20px;
        padding: 0 20px;
        box-sizing: border-box;

        &__profile-header {
            @include flexbox(column);
            @include primary-color-scheme();
            @include classic-borders();
            transform: translateY(-10vh);
            flex: 3;
            height: 50%;

            img {
                width: 200px;
                height: 250px;
            }

            &-title {
                @include text-header(2rem, center, 600)
            }

            small {
                @include text-header(1rem, center, 500)
            }
        }

        &__profile-content {
            @include flexbox(column);
            @include primary-color-scheme();
            @include classic-borders();
            transform: translateY(-10vh);
            flex: 6;
            height: 50%;
        }
    }
}