---
import IntroBackgroundTheme from "@/components/intro-large-theme/Background";
import ScrollButton from "@/components/ScrollButton";
---

<section class="intro">
    <IntroBackgroundTheme client:load/>
    <ScrollButton target=".testcontent" client:load>
        <img src="/icons/arrow-icon.svg" alt="\/" draggable="false"/>
    </ScrollButton>
</section>



