---
import ThreeScene from "@/components/cuboid-large-theme/СuboidAnimtaion";
import Header from "@/components/header/Header";
---

<style>
    @import url("./Intro.scss");
</style>

<main class="landing">
    <section class="intro">
        <div class="cuboid-large-theme">
            <ThreeScene client:load/>
        </div>
        <div class="cuboid-large-theme rotated">
            <ThreeScene client:load/>
        </div>
        <h1 class="intro__title">Welcome</h1>
        <h2 class="intro__subtitle">
            to <code>saevskii.dev</code> showcase!
        </h2>
    </section>
    <Header client:only />
    <section class="testcontent">
        <img src="https://7d9e88a8-f178-4098-bea5-48d960920605.selcdn.net/85e108d4-0362-451b-ab07-68955f8c1a05/"/>
    </section>
</main>
