---
import ProfileBackgroundTheme from "@/components/pofile-large-theme/index.tsx";
---

<section class="exp">
    <article class="exp__content-wrapper">
        <h1 class="exp__title">Commercial and pet-project experience</h1>
        <div class="exp__exp-content">
        </div>
    </article>
</section>
