---
import ProfileBackgroundTheme from "@/components/pofile-large-theme/index.tsx";
import Content from "./Content.md";
import ScrollButton from "@/components/ScrollButton";
import ProfileAccount from "@/components/profile-account/ProfileAccount";
---

<section class="profile">
    <article class="profile__content-wrapper">
        <h1 class="profile__title">Junior fullstack Developer CV</h1>
        <ProfileAccount client:visible/>
        <div class="profile__profile-content">
            <Content />
        </div>
    </article>
    <ProfileBackgroundTheme client:only />
    <ScrollButton target=".about" client:load> Experience </ScrollButton>
</section>
