.profile {
    @include flexbox(column);
    z-index: 10;
    padding-top: 3px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #e9e2e2;

    .scroll-button {
        @include flexbox(column);
        @include no-def-styles();
        @include scroll-button();
        z-index: 2;
    }

    &__content-wrapper {
        z-index: 1;
        @include flexbox(column);
        @include absolute-fw();
        padding: 5vh 5vw;
        justify-content: flex-start;
        max-width: 700px;
        width: 100%;
        height: auto;
        gap: 10px;
        box-sizing: border-box;

        .profile-card {
            @include flexbox(row);
            @include classic-borders();
            justify-content: space-between;
            padding: 10px 15px;
            gap: 10px;
            background-color: #e9e2e2d2;
            backdrop-filter: blur(4px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            transition: all 1s ease;
            transform: translateX(25%) translateY(10px);
            cursor: pointer;

            &:hover {
                background-color: #f5f1f1;
            }

            &__title {
                @include text-header(1.5rem, left, 500);
                @include no-padding();
            }

            &__subtitle {
                @include text-header(1.1rem, left, 400);
                color: #313131;
            }

            &__image {
                width: 5rem;
                height: 5rem;
                border-radius: 50%;
                object-fit: cover;
            }

            &__overlay {
                @include flexbox(row);
                @include classic-borders();
                position: absolute;
                left: 0;
                padding: 10px 25px;
                box-sizing: border-box;
                @include full-parent();
                justify-content: space-between;
                background-color: #1a191948;
                backdrop-filter: blur(3px);
            }

            &__link,
            &__copy-email {
                @include no-def-styles();
                border-radius: 100%;
                background-color: transparent;

                img {
                    border-radius: 50px;
                    overflow: hidden;
                    cursor: pointer;

                    &:hover {
                        filter: brightness(1.1)
                    }
                }
            }

            &.download-cv {
                transform: translateX(50%) translateY(0px);
            }

            &__download-cv-button {
                @include no-def-styles();
                @include flexbox(row);
                gap: 15px;
                font-size: 2rem;
                cursor: pointer;
            }
        }
    }

    &__title {
        @include text-header(3em, left, 600);
        @include no-padding();
        position: relative;
        background:
            url('https://hightech.fm/wp-content/uploads/2022/03/ice-6538605_1280.jpg');
        background-clip: text;
        background-size: cover;
        background-position: 150% 50%;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px #ffffff;
        z-index: 2;
        filter: brightness(0.5)
    }
    
    

    .profile-content {
        @include text-header(1.1rem, left, 400);
        max-width: inherit;
        width: 100%;
        text-wrap: wrap;
        overflow: hidden;

        &__heading {
            color: #2c3e50;
        }
    }
}

@media (max-width: 500px) {
    .profile {
        &__content-wrapper {
            padding: 4vh 15px;

            .profile-card {
                transform: translateX(0) translateY(10px);
                width: 100% !important;
            }
        }
    }
}