---

---

<section class="profile">
    <article class="profile__profile-content">
        
    </article>
    <aside class="profile__profile-header">

        <div class="profile__profile-header-image-wrapper">
            <img
                src="https://sun9-59.userapi.com/impg/h0uVBYGrrICpTT59_OWKlnSdk8ETt34DpcYtyA/yobG33LIkx8.jpg?size=810x1080&quality=95&sign=0eabb95c74bfaf5c0cb656cc3f439434&type=album"
                alt="profile-photo"
            />
        </div>

        <h2 class="profile__profile-header-title">Антон Саевский</h2>

        <small class="profile__profile-header-descrition">
            Junior backend developer
        </small>

    </aside>
</section>