---
import ProfileBackgroundTheme from "@/components/pofile-large-theme/index.tsx";
---

<section class="about">
    <article class="about__content-wrapper">
        <h1 class="about__title">Junior fullstack Developer</h1>
        <div class="about__about-content">
        </div>
    </article>
</section>
