header {
    @include flexbox(row);
    transform: translateY(-30vh);
    top: 30vh;
    position: sticky;
    z-index: 10;

    nav {
        @include flexbox(row);
        box-sizing: border-box;
        width: fit-content;

        transition: all 1.5s ease;

        a {
            @include no-def-styles();
            @include text-header(1.75rem, center, 500);
            padding: 10px 15px;
            cursor: pointer;
            transition: all 0.3s linear;
            text-wrap: nowrap;

            &:hover {
                background-color: #e0e0e0b9;
            }
        }
    }
}