header {
    @include flexbox(row); 
    transform: translateY(-40vh);
    top: 40vh;
    position: sticky;
    z-index: 10;

    nav {
        @include flexbox(row);
        @include primary-color-scheme();
        box-sizing: border-box;
        width: fit-content;

        transition: all 1.5s ease;

        &.expanded {
            width: 100%;
        }

        a {
            @include no-def-styles();
            @include text-header(1.75rem, center, 500);
            padding: 10px 15px;
            cursor: pointer;
            transition: all 0.3s linear;

            &:hover {
                background-color: #53535371;
            }
        }
    }
}